@import "tailwindcss";



.scroll-container {
    max-height: 150px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #ebbe7d #262626;
  }
  
  /* WebKit Scrollbar */
  .scroll-container::-webkit-scrollbar {
    width: 8px;
  }
  
  .scroll-container::-webkit-scrollbar-track {
    background: #262626;
    border-radius: 4px;
  }
  
  .scroll-container::-webkit-scrollbar-thumb {
    background: #ebbe7d;
    border-radius: 4px;
  }
  
  .scroll-container::-webkit-scrollbar-thumb:hover {
    background: #d4a24f;
  }
  
  .menu-item {
    padding: 10px;
    color: white;
    cursor: pointer;
  }
  
  .menu-item:hover {
    background: #3a3a3a;
  }
  